footer section, #Contact {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: rgb(252, 185, 127);
}

footer section{
    background-color: rgb(252, 185, 127);
    z-index: 100;
    height: 200px;
}

#Contact{
    height: 100%;
}

main > div:nth-of-type(6){
    background-color: rgb(252, 185, 127);
    border-bottom: 4px solid white;
}

footer section{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form div{
    display: flex;
}


@media(min-width: 475px){
    main > div:nth-of-type(6){
        height: 700px;
    }
    #Contact{
        flex-direction: column;
    }
    .pokemon-map{
        width: 350px;
        height: 300px;
        border: 1px solid black;
        margin-bottom: 1rem;
    }
    footer section, #Contact{
        max-width: 475px;
    }

    .contact-form{
        width: 350px;
        height: 300px;
        margin-bottom: 2rem;
    }

    .contact-form h1{
        padding-top: 1.5rem;
        margin: 0;
        margin-bottom: 1.2rem;
    }

    .contact-email, .contact-message, .contact-name{
        width: 280px;
        height: 50px;
        padding-left: 20px;
    }
    .contact-form{
        height: 300px;
        background-color: white;
    }

    .contact-message{
        height: 100px;
        margin-bottom: 3rem;
    }

    .contact-form div:not(:last-child){
        margin-bottom: 1rem;
    }


    .contact-form div{
        margin-left: 1rem;
    }
}

@media(min-width: 640px){
    footer section, #Contact{
        max-width: 640px;
    }

    .contact-form{
        width: 380px;
        margin-bottom: 0;
        margin-right: 2rem;
    }

    .pokemon-map{
        width: 350px;
        margin-bottom: 0;
    }

    #Contact{
        flex-direction: row;
    }
    main > div:nth-of-type(6){
        height: 350px;
    }

    .contact-email, .contact-message, .contact-name{
        width: 250px;
    }
}
@media(min-width: 768px){
    footer section, #Contact{
        max-width: 768px;
    }

    main > div:nth-of-type(6){
        height: 550px;
    }

    .contact-form{
        width: 350px;
        height: 300px;
    }

    .pokemon-map{
        width: 600px;
        height: 400px;
    }

    .contact-form{
        width: 550px;
        height: 450px;
    }

    .contact-form h1{
        font-size: 2rem;
    }

    .contact-email, .contact-message, .contact-name{
        width: 300px;
        height: 60px;
        padding-left: 20px;
        font-size: 1.2rem;
    }

    .contact-message{
        height: 200px;
        margin-bottom: 3rem;
    }
}
@media(min-width: 1024px){
    footer section, #Contact{
        max-width: 1024px;
    }

    .contact-email, .contact-message, .contact-name{
        width: 350px;
    }
}
@media(min-width: 1280px){
    footer section, #Contact{
        max-width: 1280px;
    }

    main > div:nth-of-type(6){
        height: 650px;
    }

    .contact-form{
        width: 400px;
        height: 350px;
    }

    .pokemon-map{
        width: 550px;
        height: 450px;
    }

    .contact-form{
        width: 450px;
        height: 500px;
    }

    .contact-form h1{
        font-size: 2rem;
    }

    .contact-email, .contact-message, .contact-name{
        width: 350px;
        height: 60px;
        padding-left: 20px;
        font-size: 1.5rem;
    }

    .contact-message{
        height: 200px;
        margin-bottom: 3rem;
    }
}
@media(min-width: 1536px){
    footer section, #Contact{
        max-width: 1536px;
    }

}