main>div:nth-of-type(5) {
    margin-top: 700px;
    background-color: rgb(255, 255, 166);
    width: 100%;
}

.main-donate-box {
    display: flex;
    justify-content: center;
}

.donate-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 40px;
}

.donate-title,
.donate-button,
.peach-contain {
    background-color: rgb(252, 185, 127);
}

.donate-title,
.donate-descript,
.donate-button {
    color: black;
    font-family: sans-serif, Arial;
    font-weight: bold;
}

.donate-button {
    border-style: none;
    background-color: rgb(252, 193, 142);
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.15s, background-color 0.15s;
}

.donate-button:hover {
    background-color: rgb(254, 209, 169);
}

.donate-button:active {
    background-color: rgb(250, 228, 208);
}

.donate-input {
    text-indent: 1.5rem;
    box-shadow: inset 0 1px 2px rgb(105, 105, 105);
    border-radius: 10px;
    border-style: none;
}


.donate-descript {
    padding: 0;
    margin: 0;
    text-align: center;
}

.peach-contain {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-dollar-sign {
    color: black;
    position: absolute;
    left: 1.2rem;
}

.outer-dollar {
    position: relative;
}


@media (max-width: 762px) {
    main>div:nth-of-type(5) {
        height: 450px;
    }

    .main-donate-box {
        padding-top: 2.5rem;
    }

    .donate-title {
        font-size: 1.7rem;
    }

    .donate-box{
        width: 470px;
        height: 320px;
    }

    .donate-input {
        padding: 0.7rem 0.7rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .donate-descript {
        width: 350px;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    .donate-button {
        padding: 0.8rem 0.8rem;
        font-size: 1.1rem;
    }

    .peach-contain {
        width: 100%;
        height: 100px;
        margin-bottom: 1rem;
    }

    .fa-dollar-sign {
        top: 0.7rem;
        font-size: 1.2rem;
    }

    .grateful {
        display: none;
    }
}

@media (min-width: 763px) and (max-width: 800px) {
    main>div:nth-of-type(5) {
        height: 500px;
    }

    .main-donate-box {
        padding-top: 2.5rem;
    }

    .donate-title {
        font-size: 2rem;
    }
    .donate-box{
        width: 470px;
        height: 400px;
    }

    .donate-input {
        padding: 0.8rem 0.8rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .donate-descript {
        width: 400px;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    .donate-button {
        padding: 1.2rem 1.2rem;
        font-size: 1.5rem;
    }

    .peach-contain {
        width: 100%;
        height: 100px;
        margin-bottom: 1rem;
    }

    .fa-dollar-sign {
        top: 1rem;
        font-size: 1.5rem;
    }
    .grateful {
        display: none;
    }
}

@media (min-width: 801px) and (max-width: 1021px) {
    main>div:nth-of-type(5) {
        height: 500px;
    }

    .donate-box{
        width: 570px;
        height: 400px;
    }

    .main-donate-box {
        padding-top: 2.5rem;
    }

    .donate-title {
        font-size: 2rem;
    }

    .donate-input {
        padding: 0.8rem 0.8rem;
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
    }

    .donate-descript {
        width: 500px;
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
        padding: 0 1rem;
    }

    .donate-button {
        padding: 1.2rem 1.2rem;
        font-size: 1.5rem;
    }

    .peach-contain {
        width: 100%;
        height: 100px;
        margin-bottom: 1rem;
    }

    .fa-dollar-sign {
        top: 1rem;
        font-size: 1.5rem;
    }

    .grateful {
        display: none;
    }
}

@media (min-width: 1022px) and (max-width:1299px) {
    main>div:nth-of-type(5) {
        height: 500px;
    }

    .main-donate-box {
        padding-top: 2.5rem;
    }

    .donate-title {
        font-size: 2rem;
    }

    .donate-input {
        padding: 0.8rem 0.8rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .donate-descript {
        width: 500px;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    .donate-button {
        padding: 1.2rem 1.2rem;
        font-size: 1.5rem;
    }

    .peach-contain {
        width: 100%;
        height: 100px;
        margin-bottom: 1rem;
    }

    .fa-dollar-sign {
        top: 1rem;
        font-size: 1.5rem;
    }

    .grateful {
        width: 400px;
        height: 100%;
        margin-right: 3rem;
    }
}

@media (min-width: 1300px) {
    main>div:nth-of-type(5) {
        height: 620px;
    }

    .main-donate-box {
        padding-top: 4rem;

    }

    .donate-title {
        font-size: 3.5rem;
    }

    .donate-input {
        padding: 1rem 1rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .donate-descript {
        width: 700px;
        font-size: 2rem;
        margin-bottom: 1.4rem;
        padding: 0 0.5rem;
    }

    .donate-button {
        padding: 1.7rem 1.8rem;
        font-size: 2rem;

    }

    .peach-contain {
        width: 100%;
        height: 150px;
        margin-bottom: 1rem;
    }

    .donate-box {
        width: 780px;
    }

    .fa-dollar-sign {
        top: 1.2rem;
        font-size: 1.5rem;
    }

    .grateful {
        width: 500px;
        height: 100%;
        margin-right: 3rem;
    }

    .donate-button:active {
        transform: translateY(10px);
    }
}