.children-group{
    width: 50vw;
    height: auto;

}

.children-group img{
    border-radius: 100%;
    object-fit: cover;
    border: 5px solid black;
}

.about-descript{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 100%;
    background-color: rgb(255, 255, 82);

}

.about-title{
    margin-top: 4rem;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    background-color: rgb(255, 255, 82);
}




main > div:nth-of-type(2){
    height: 720px;
    width: 100vw;
    background-color: white;
    color: rgb(0, 34, 113);
    font-weight: 700;
}

.about-descript p{
    font-weight: 900;
}

@media (max-width: 762px){


}

@media (min-width: 763px) and (max-width: 800px){
    .container-image{
        margin-top: 8rem;
    }

    main .section-container{
        width: 95vw;
        margin-right: 2rem;
    }
    main > div:nth-of-type(2){
        height: 820px;
    }

    .children-group img{
        display: absolute;
        z-index: 2;
        height: 400px;
        width: 380px;
    }


}

@media (min-width: 801px){
    .container-image{
        margin-top: 5rem;
    }

    main .section-container{
        width: 80vw;
    }

    .children-group img{
        height: 300px;
        width: 280px;
    }

    .about-descript {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-descript p{
        font-size: 1.3rem;
        width: 550px;

    }
}

@media (min-width: 1300px){
    .about-descript {
        flex-direction: row;
    }
    main > div:nth-of-type(2){
        height: 720px;
    }

    .children-group img{
        height: 400px;
        width: 380px;
    }

    .about-descript p{
        font-size: 1.5rem;
        width: 750px;
        margin-right: 5rem;
        margin-left: 7rem;
    }
}
