


.event-container{
    display: flex;
    gap: 4rem;
    justify-items: center;
}



.event-container .fa-solid{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2.5rem;
    color: yellow;
}


main > div:nth-of-type(3){
    width: 100vw;
    background-color:  #2a2a8a;
    color: white;
}


.event-title{
    padding-top: 2rem;
    margin-bottom: 4rem;
    text-decoration: underline;
    color: yellow;
}
@media(max-width: 1023px){
    .event-container{
        display: flex;
        flex-direction: column;
    }

    main > div:nth-of-type(3){
        height: 1100px;
    }

    .event-container > div{
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .event-title{
        font-size: 2.5rem;
    }

    .event-container p{
        text-align: center;
        width: 90%;
    }
}

@media(min-width: 801px) and (max-width: 1023px){
    .event-container{
        display: flex;
        flex-direction: column;
    }

    main > div:nth-of-type(3){
        height: 1100px;
    }

    .event-container > div{
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .event-title{
        font-size: 3rem;
    }

    .event-container p{
        text-align: center;
        width: 90%;
    }
}

@media (min-width: 1024px){
    .event-container{
        display: flex;
        gap: 4rem;
    }

    main > div:nth-of-type(3){
        height: 700px;
    }

    .event-container p{
        text-align: center;
        width: 105%;
    }

    .event-container > div{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .event-title{
        font-size: 4rem;
    }
}