
.left-triangle {
    width: 0;
    height: 0;
    border-top: 4rem solid transparent;
    border-bottom: 4rem solid transparent;
    border-right: 4rem solid yellow;
}
.right-triangle {
    width: 0;
    height: 0;
    border-top: 4rem solid transparent;
    border-bottom: 4rem solid transparent;
    border-left: 4rem solid yellow;
}

.image-slide{
    position: relative;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}

.left, .right{
    display: inline-block;

}

.image-slide img{
    display: inline-block;
    width: 80%;
    height: 100%;
}

.event-container{
    display: flex;
    gap: 4rem;
    justify-items: center;
}



.event-container .fa-solid{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2.5rem;
    color: yellow;
}


main > div:nth-of-type(3){
    width: 100vw;
    background-color:  #2a2a8a;
    color: white;
}


.event-title{
    padding-top: 2rem;
    margin-bottom: 4rem;
    text-decoration: underline;
    color: yellow;
}
@media(max-width: 800px){

    .image-slide{
        margin-left: 3rem;
    }
    .event-container{
        display: flex;
        flex-direction: column;
    }

    main > div:nth-of-type(3){
        height: 1400px;
    }

    .event-container > div{
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .event-title{
        font-size: 2.5rem;
    }

    .event-container p{
        text-align: center;
        width: 90%;
    }

    .left-triangle{
        border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
        border-right: 1.5rem solid yellow;
        margin-right: 1rem;
    }

    .right-triangle{
        border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
        border-left: 1.5rem solid yellow;
        margin-left: 1rem;
    }

}

@media(min-width: 801px) and (max-width: 1023px){
    .image-slide{
        margin-left: 5rem;
    }
    .event-container{
        display: flex;
        flex-direction: column;
    }

    main > div:nth-of-type(3){
        height: 1400px;
    }

    .event-container > div{
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .event-title{
        font-size: 3rem;
    }

    .event-container p{
        text-align: center;
        width: 90%;
    }
    .left-triangle{
        border-top: 2.5rem solid transparent;
        border-bottom: 2.5rem solid transparent;
        border-right: 2.5rem solid yellow;
        margin-right: 1.5rem;
    }

    .right-triangle{
        border-top: 2.5rem solid transparent;
        border-bottom: 2.5rem solid transparent;
        border-left: 2.5rem solid yellow;
        margin-left: 1.5rem;
    }
}

@media (min-width: 1024px){
    .image-slide{
        margin-left: 6rem;
    }

    .event-container{
        display: flex;
        gap: 4rem;
    }

    main > div:nth-of-type(3){
        height: 1200px;
    }

    .event-container p{
        text-align: center;
        width: 105%;
    }

    .event-container > div{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .event-title{
        font-size: 4rem;
    }

    .left-triangle{
        border-top: 2.5rem solid transparent;
        border-bottom: 2.5rem solid transparent;
        border-right: 2.5rem solid yellow;
        margin-right: 1.5rem;
    }

    .right-triangle{
        border-top: 2.5rem solid transparent;
        border-bottom: 2.5rem solid transparent;
        border-left: 2.5rem solid yellow;
        margin-left: 1.5rem;
    }
}

@media (min-width: 1224px){
    .image-slide{
        margin-left: 8rem;
    }

    .event-container{
        display: flex;
        gap: 4rem;
    }

    main > div:nth-of-type(3){
        height: 1300px;
    }

    .event-container p{
        text-align: center;
        width: 105%;
    }

    .event-container > div{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .event-title{
        font-size: 4rem;
    }

    .left-triangle{
        border-top: 4rem solid transparent;
        border-bottom: 4rem solid transparent;
        border-right: 4rem solid yellow;
        margin-right: 1.5rem;
    }

    .right-triangle{
        border-top: 4rem solid transparent;
        border-bottom: 4rem solid transparent;
        border-left: 4rem solid yellow;
        margin-left: 1.5rem;
    }

    
}