:root{
    --main-white: #FFFDFA;
    --main-blue: #89CFF0;
    --main-yellow: #FFC000;
    --main-font: "Lato", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

h1 {
    text-align: center;
}
body {
    width: 100vw;
    height: 100vh;
}

main .section-container{
    height: 700px;

    margin: auto;
}

main > div:nth-of-type(2){
    width: 100vw;
    background-color: white;
    color: rgb(0, 45, 150);
    font-weight: 700;
}

main > div:nth-of-type(3){
    width: 100vw;
    background-color:  #000080;
    color: white;
}