.container-image{
    position: relative;
    width: 100vw;
    height: auto;
    z-index: 10;
}

.container-image img{
    width: 100%;
    height: 100%;
    z-index: -1;

}

.hero-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0.7;
    z-index: 20;

}

.hero-background p{
    color: yellow;
    font-weight: 700;
}


@media (max-width: 580px){
    .container-image{
        margin-top: 8rem;
    }
    .hero-background p:nth-of-type(1){
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .hero-background p:nth-of-type(2){
        font-size: 1rem;
    }

    .hero-background{
        align-items: center;
    }

    .hero-background p{
        text-align: center;
        width: 200px;
    }

}


@media (min-width: 581px){
    .container-image{
        margin-top: 6rem;
    }
    .hero-background p:nth-of-type(1){
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    
    .hero-background p:nth-of-type(2){
        font-size: 1.5rem;
    }

    .hero-background{
        align-items: center;
    }

    .hero-background p{
        width: 400px;
        text-align: center;
    }


}
@media (min-width: 950px){
    .container-image{
        margin-top: 6rem;
    }
    .hero-background p:nth-of-type(1){
        font-size: 3rem;
        margin-bottom: 2rem;
        text-align: left;
    }
    
    .hero-background p:nth-of-type(2){
        font-size: 1.5rem;
        text-align: left;
    }

    .hero-background{
        align-items: flex-start;
    }

    .hero-background p{
        margin-left: 5rem;
        width: 500px;
    }

}



