
.header {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    background: linear-gradient(#ffff19, #0047AB);
    z-index: 999;
}

.navigation{
    width: 1200px;
    display: flex;
    height: 100px;
    align-items: center;
    margin: auto;
}

.navigation > div {

    display: flex;
    align-items: center;
}

#pokemon-image {
    width: 100%;
}

.bars,
.x{
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
    font-size: 30px;
    margin-right: 4rem;
}


@media (max-width: 800px){
    .header{
        height: 130px;
    }

    .bars{
        display: flex;
    }

    .navigation > div{
        height: 100%;
        width: 35%;
        min-width: 300px;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .list{
        position: relative;
        position: fixed;
        right: 0;
        z-index: 999;
        display: none;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        height: 78rem;
        background-color: var(--main-blue);
        opacity: 0.7;
        width: 15rem;
        transform-origin: left;
        list-style: none;
    }

    .list li:nth-of-type(1) {
        margin-top: 30rem;
    }

    .linked{
        text-decoration: none;
        display: flex;
        border: solid 2px gray;
        padding: 1rem 1rem;
        color: darkblue;
        font-weight: 700;
       
  
    }

    .x{
        position: absolute;
    }


}

@media (min-width: 801px){
    .header{
        height: 100px;
    }
    .navigation > div{
        height: 80%;
        width: 25%;
        margin-left: 1rem;
    }

    .bars,
    .x{
        display: none;
    }

    .list {
        display: flex !important;
        list-style: none;
        gap: 1rem;
        align-items: center;
        margin-left: auto;
    }
    
    .linked{
        text-decoration: none;
        display: flex;
        padding: 1rem 1rem;
        color: var(--main-white);
    }
}

